body {background-color: powderblue;}
h4   {color: blue; font-size: "20";}
p    {color: black;}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  #para1 {
    text-align: center;
    color: orangered;
  }